<div class="categories">
  <div class="content-top-panel">
    <h2 class="page-title">Categories</h2>
    <button class="btn" (click)="editCategory()">Add category</button>
  </div>

  <div class="categories-control"></div>

  <div *ngFor="let category of categories" class="table">
    <div class="table-wrapp" [ngClass]="{ 'table-wrapp-open': isOpen }">
      <div class="table-field-name">
        <!-- *ngFor="let subcategory of subcategories" -->
        <span>{{ category.name }}</span>
        <!-- <div class="subcategory">{{ subcategory.name }}</div> -->
        <!-- <div class="hidden-list">
          <div class="hidden-item">
            <span>1111</span>
            <span>10 products</span>
          </div>
          <div class="hidden-item">
            <span>1111</span>
            <span>10 products</span>
          </div>
          <div class="hidden-item">
            <span>1111</span>
            <span>10 products</span>
          </div>
        </div> -->
      </div>
      <div class="table-field-controls">
        <mat-icon class="btn-edit" (click)="editCategory(category)"
          >add</mat-icon
        >
        <mat-icon class="btn-edit" (click)="editCategory(category)"
          >edit</mat-icon
        >
      </div>
    </div>
  </div>
</div>
