<div class="products">
  <div class="content-top-panel">
    <h2 class="page-title">Products</h2>
    <button class="btn" (click)="editProduct()">Add product</button>
  </div>

  <div class="products-control"></div>
  <div class="products-table">
    <div class="headers-row">
      <div class="table-field-image">
        Image
      </div>
      <div class="table-field-name header ">
        Name
      </div>
      <div class="table-field-description header">
        Description
      </div>
      <div class="table-field-price header">
        Price
      </div>
      <div class="table-field-status header">
        Status
      </div>
      <div class="table-field-category header">
        Category
      </div>
      <div class="table-field-controls"></div>
    </div>

    <div *ngFor="let product of products" class="table">
      <div class="table-row">
        <div class="table-field-img">
          <img class="table-img" src="{{ product.images[0]?.url }}" alt="img" />
        </div>
        <div class="table-field-name">
          {{ product.name }}
        </div>
        <div class="table-field-description">
          {{ product.description }}
        </div>
        <div class="table-field-price">
          {{ product.price }}
        </div>
        <div class="table-field-status">
          {{ product.status }}
        </div>
        <div class="table-field-category">
          <!-- {{ product.category }} -->11111
        </div>
        <div class="table-field-controls">
          <mat-icon class="btn-edit" (click)="editProduct(product)"
            >edit</mat-icon
          >
          <mat-icon class="btn-edit" (click)="deleteProduct(product)"
            >delete</mat-icon
          >
        </div>
      </div>
    </div>
  </div>
</div>
