<div
  style="background-color: var(--grey-skeleton); margin: 100px; height: calc(100vh - 200px)"
  class="products-list"
>
  <div class="content__top-panel">
    <h1 class="page-title">
      Products
    </h1>
    <button type="button" class="button-primary" (click)="editProduct()">
      Add product
    </button>
  </div>

  <div class="content-box content-box_small">
    <form class="form-inline">
      <div class="form-group">
        <label class="form-label">Filter by:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Product name"
          (change)="searchProduct()"
          [formControl]="search"
        />
      </div>
      <div class="form-group" data-elem="sliderContainer">
        <label class="form-label">Price:</label>
        <div class="range-slider">
          <span>$0</span>
          <div class="range-slider__inner">
            <span
              class="range-slider__progress"
              style="left: 0%; right: 0%;"
            ></span>
            <span class="range-slider__thumb-left" style="left: 0%;"></span>
            <span class="range-slider__thumb-right" style="right: 0%;"></span>
          </div>
          <span>$4000</span>
        </div>
      </div>
    </form>
  </div>
  <div
    class="sortable-table"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    <div class="sortable-table__header sortable-table__row">
      <div class="sortable-table__cell">
        <span>Image</span>
      </div>
      <div class="sortable-table__cell ">
        <span>Name</span>
        <!-- <span class="sortable-table__sort-arrow">
          <span class="sortable-table__sort-arrow_asc"></span>
        </span> -->
      </div>
      <div class="sortable-table__cell ">
        <span>Description</span>
      </div>
      <div class="sortable-table__cell ">
        <span>Price</span>
      </div>
      <div class="sortable-table__cell ">
        <span>Subcategory</span>
      </div>

      <div class="sortable-table__cell "></div>
    </div>

    <div data-elem="body" class="sortable-table__body">
      <div *ngFor="let product of products" class="sortable-table__row">
        <div class="sortable-table__cell ">
          <img
            class="sortable-table-image "
            src="{{ (product?.images)[0]?.url }}"
            alt="img"
          />
        </div>
        <div class="sortable-table__cell ">
          {{ product?.name }}
        </div>
        <div class="sortable-table__cell ">
          <p>{{ product?.description }}</p>
        </div>
        <div class="sortable-table__cell ">
          {{ product?.price }}
        </div>
        <div class="sortable-table__cell ">
          <!-- {{ product.subCategory }} -->
          Прочее
        </div>
        <div class="sortable-table__cell table__cell_controls">
          <mat-icon class="btn-edit" (click)="editProduct(product)"
            >edit</mat-icon
          >
          <mat-icon class="btn-edit" (click)="deleteProduct(product)"
            >delete</mat-icon
          >
        </div>
      </div>
    </div>
  </div>
</div>
