<div>
  <h2 class="sidebar-title">
    <a class="sidebar-title-link" href="#">NG-SHOP-ADMIN</a>
  </h2>
  <ul class="sidebar-nav">
    <li>
      <mat-icon class="icon-menu">view_agenda</mat-icon>
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['products']"
      >
        <span class="sidebar-nav-text">Products</span>
      </a>
    </li>
    <li>
      <mat-icon class="icon-menu">category</mat-icon>
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['categories']"
      >
        <span class="sidebar-nav-text">Categories</span>
      </a>
    </li>

    <li class="toggle">
      <button
        class="toggle-sidebar sidebar__toggler"
        type="button"
        (click)="toggleSidebar('111111111')"
      >
        <mat-icon class="icon-menu">call_to_action</mat-icon>
        <span>Toggle sidebar</span>
      </button>
    </li>
  </ul>
</div>
