<div>
  <h2 class="sidebar-title">
    <a class="sidebar-title-link" href="#">SHOP ADMIN</a>
  </h2>
  <ul class="sidebar-nav">
    <li>
      <mat-icon class="icon-menu">dashboard</mat-icon>
      <!-- <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['./']"
      > -->
      <span class="sidebar-nav-text"> Dashboard</span>
      <!-- </a> -->
    </li>
    <li>
      <mat-icon class="icon-menu">view_agenda</mat-icon>
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['products']"
      >
        <span class="sidebar-nav-text">Products</span>
      </a>
    </li>
    <li>
      <mat-icon class="icon-menu">category</mat-icon>
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['categories']"
      >
        <span class="sidebar-nav-text">Categories</span>
      </a>
    </li>
    <li>
      <mat-icon class="icon-menu">attach_money</mat-icon>
      <!-- <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['sales']"
      > -->
      <span class="sidebar-nav-text">Sales</span>
      <!-- </a> -->
    </li>

    <li class="toggle">
      <button class="toggle-sidebar sidebar__toggler" (click)="sidebarClick()">
        <mat-icon class="icon-menu">call_to_action</mat-icon>
        <span>Toggle sidebar</span>
      </button>
    </li>
  </ul>
</div>
