<form [formGroup]="form" class="popup-wrapper">
  <div class="category-form">
    <h2 class="category-form-title ">Add Subcategory</h2>
    <label class="category-form-label">Subcategory name</label>

    <input
      formControlName="name"
      class="category-form-input"
      type="text"
      placeholder="Name"
    />
    <div class="btnWrapp">
      <button class="btn-inv" [disabled]="form.invalid" (click)="save()">
        Save
      </button>

      <button class="btn-inv" (click)="close()">Cancel</button>
    </div>
  </div>
</form>
